body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.bb, div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body, html {
	font-size: 18px;
	font-family: Arial;
	line-height: 22px;
}
.fz-big {
	font-size: 22px;
	line-height: 26px;
}
.full-size {
	width: 100%;
	height: 100%;
}
.padd {
	padding: 10px;
}
.padd-x2 {
	padding: 20px;
}
.posr {
	position: relative;
}
.c-bg-dark {
	background: #EFEFEF;
}
.c-bg-theme {
	background: #A7BBBC;
}
.c-bg-none {
	background: none;
}
.c-border-dark {
	border: solid 1px #B4B4B4;	
}
.c-border-top-arrow {
	border-top: solid 10px #A7BBBC;	
}
.cli {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
.cli input {
	display: block;
	width: 100%;
	padding: 6px;
	border-radius: 4px;
}
.cli small {
	font-size: 12px;
}
.plot {
	
}
.tooltip {
	position: absolute;
	border-radius: 6px;
	-webkit-transition: all 600ms;
	transition: all 600ms;
}
.tooltip .arrow {
	position: absolute;
	bottom: -9px;
	left: 10px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}
[data-component="tooltip-visible"] {
	filter: alpha(opacity=100);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
	-moz-opacity: 1;
	-khtml-opacity: 1;
	bottom: 78px;
}
[data-component="tooltip-hidden"] {
	filter: alpha(opacity=0);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	-moz-opacity: 0;
	-khtml-opacity: 0;
	bottom: 90px;
}