.tooltip {
	position: absolute;
	border-radius: 6px;
	-webkit-transition: all 600ms;
	transition: all 600ms;
}
.tooltip .arrow {
	position: absolute;
	bottom: -9px;
	left: 10px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}
[data-component="tooltip-visible"] {
	filter: alpha(opacity=100);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
	-moz-opacity: 1;
	-khtml-opacity: 1;
	bottom: 78px;
}
[data-component="tooltip-hidden"] {
	filter: alpha(opacity=0);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	-moz-opacity: 0;
	-khtml-opacity: 0;
	bottom: 90px;
}